<!doctype html>
<html lang="en" ng-app='ShoppingListCheckOff'>
  <head>
    <title>Shopping List Check Off</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="styles/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
    <script src="app.js"></script>
    <style>
      .title{
        text-align: center;
      }
      .emptyMessage {
        font-weight: bold;
        color: red;
        font-size: 1.2em;
      }
      li {
        margin-bottom: 7px;
        font-size: 1.2em;
      }
      li > button {
        margin-left: 6px;
      }
      button > span {
        color: green;
      }
    </style>
  </head>
<body>
  <div class="container">
  <h1 class="title">Shopping List Check Off</h1>

  <div class="row">

    <!-- To Buy List -->
    <div class="col-md-6" ng-controller='ToBuyController as buy'>
      <div class="panel panel-info">
        <div class="panel-heading">
          <h2 class="panel-title glyphicon glyphicon-shopping-cart">  To Buy</h2>
        </div>
         <ul class="panel-content">
           <li ng-repeat="item in buy.items">
             Buy {{item.quantity}} {{item.name}}
             <button class="btn btn-default" ng-click="buy.remove($index);"><span class="glyphicon glyphicon-ok"></span> Bought</button>
           </li>
         </ul>
         <div class="emptyMessage" ng-show="buy.Empty">Everything is bought!</div>
     </div>
    </div>

    <!-- Already Bought List -->
    <div class="col-md-6" ng-controller="AlreadyBoughtController as bought">
      <div class="panel panel-success">
        <div class="panel-heading">
           <h2 class="panel-title glyphicon glyphicon-ok">  Already Bought:</h2>
        </div>
       <ul panel-content>
         <li ng-repeat="item in bought.items">Bought {{item.quantity}} {{item.name}}</li>
       </ul>
       <div class="emptyMessage" ng-hide="!bought.empty()">Nothing bought yet.</div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
